a, body, br, div, fieldset, form, h1, h2, h3, h4, h5, h6, html, hr, img, input, label, legend, li, p, ul, table, tr, th, td, p, span{margin: 0px;	padding: 0px;}
fieldset{border: 0px; background: none;}
legend{display: none;}
html, body {height: 100%;}
body{font-family:"lucida grande", tahoma, verdana, arial, sans-serif; font-size: 12px;}
h1, h2, h3, h4, h5, h6{color:#333;font-size: 13px;}
img{border: 0px;}
a{cursor:pointer;-moz-outline-style:none;text-decoration:none;color:#3b5998;}
a:hover{text-decoration: underline;}
input,select{font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:11px;vartical-align:center;}
select{padding:2px;border: solid 1px #1D2A5B;padding:3px;}
label{cursor: pointer;}
.clearfix{display: inline-block;} html[xmlns] .clearfix{display: block;} *html .clearfix{height: 1%;} .clearfix:after{content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
ul,li {list-style:none;}
table {padding:0 0 7px;}
table tr {height:25px}

.inputtext,.inputpassword {width:140px;padding:3px;border: solid 1px #BDC7D8;padding:3px;}
.inputbutton, .inputsubmit {background-color:#3B5998;border-color:#D9DFEA #0E1F5B #0E1F5B #D9DFEA;border-style:solid;border-width:1px;color:#FFFFFF;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:11px;padding:2px 15px 3px;text-align:center;}
.UILinkButton,.UILinkButton_RW {float:left;height:22px;padding:0;position:relative;z-index:1;}
.UILinkButton_A {background:transparent url([:theme]/images/UILinkButton_Blue.gif) no-repeat scroll left top;border:0 none;color:white;cursor:pointer;float:left;font-size:11px;font-weight:bold;height:22px;margin:0;padding:3px 9px 3px 12px;position:relative;}
.UILinkButton_R {background:transparent url([:theme]/images/UILinkButton_Blue.gif) no-repeat scroll -248px 0;height:27px;position:absolute;right:0;top:0;width:2px;left:0;}
.UILinkButton_SU .UILinkButton_A,.UILinkButton_SU .UILinkButton_R {background-image:url([:theme]/images/UILinkButton_Green.gif);}

#non_footer {min-height:100%;position:relative;height:auto !important;height:100%;}
#page_height {padding-bottom:100px;}
#page_height #menubar_container {width:964px;margin:0 auto;}
#page_height #content {width:auto;}

#menubar_container {background:transparent url([:theme]/images/signup_callout.png) no-repeat scroll left bottom;display:block;line-height:0;margin:0 auto;padding:0;position:relative;width:964px;z-index:1;}
#menubar_container .menubar_logged_in {height:29px;background:transparent url('[:theme]/images/menubar_background.gif') 0 -71px no-repeat;}
#menubar_container .menubar_logged_in #logobar {width:90px;float:left;margin:5px 10px;}
#menubar_container .menubar_logged_in #logobar .home {width:90px;height:17px;display:block;background:transparent url('[:theme]/images/menubar_logo.gif') 0 0 no-repeat;}
#menubar_container .menubar_logged_in #logobar .home:hover {background-position:0 -17px;}
#main_menu a {display:block;color:#fff;padding:7px 10px;text-decoration:none;font-weight:bold;margin-right:4px;}
#account_menu a {display:block;color:#fff;padding:7px 10px;text-decoration:none;margin-right:4px;}
#main_menu a:hover,#account_menu a:hover {background-color:#5C75AA;}
#main_menu .main_menu {float:left;}
#account_menu .account_menu {float:right;}

#menubar_container .menubar_logged_out {height:83px;background:transparent url('[:theme]/images/menubar_background.gif') 0 -17px no-repeat;}
#menubar_container .menubar_logged_out #logobar {width:170px;float:left;margin:31px 0 0 18px;}
#menubar_container .menubar_logged_out #logobar .home {width:170px;height:36px;display:block;background:transparent url('[:theme]/images/menubar_logo_big.gif') 0 0 no-repeat;}
#menubar_container .signup_box {clear:left;color:#203360;display:block;font-size:13px;font-weight:bold;line-height:normal;padding:14px 22px;}
#menubar_container .signup_box_message {display:block;float:left;padding:3px 14px;}

#page_footer {width:944px;margin: -60px auto 0;position:relative;background-color:#F7F7F7;border:1px solid #999;padding:6px 10px;font-size:11px;color:#777;}
#page_footer .copyright_and_location {float:left;padding:0 5px;}
#page_footer .page_footer_links,.page_footer_links li {float:right;}
#page_footer .page_footer_links li {padding:0 5px;}
