a, body, br, div, fieldset, form, h1, h2, h3, h4, h5, h6, html, hr, img, input, label, legend, li, p, ul, table, tr, th, td, p, span{margin: 0px;	padding: 0px;}
fieldset{border: 0px; background: none;}
legend{display: none;}
html, body {height: 100%;}
html.auto_resize_iframe, body.auto_resize_iframe{height: auto;}
body{font-family:"lucida grande", tahoma, verdana, arial, sans-serif; font-size: 11px;color: #444444;background-color: #ffffff;text-align: center;}
h1, h2, h3, h4, h5, h6{font-size: 13px;}
img{border: 0px;}
a{cursor:pointer;-moz-outline-style:none;text-decoration:none;color:#3b5998;}
a:hover{text-decoration: underline;}
input, select{font-size: 11px;color: #444444;}
select{font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:11px;border: solid 1px #d8dfea;padding:2px;}
label{cursor: pointer;}
.clearfix{display: inline-block;}
html[xmlns] .clearfix{display: block;}
*html .clearfix{height: 1%;}
.clearfix:after{content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
.submitbutton{position:relative;float:left;z-index:1;padding:0px;height:22px;}
.submitbutton .submitbutton-a, .submitbutton .submitbutton-b{margin:0px;padding:3px 10px 3px 12px;border:0px;height:22px;color:white;font-size:11px;font-weight:bold;position:relative;cursor:pointer;float:left;}
.submitbutton .submitbutton-a{background:transparent url('[:theme]/images/submitbutton_a.png') top left no-repeat;}
.submitbutton .submitbutton-b{background:transparent url('[:theme]/images/submitbutton_b.png') top left no-repeat;}
.submitbutton .submitbutton-a-end,.submitbutton .submitbutton-b-end{right:0px;top:0px;width:2px;height:27px;position:absolute;}
.submitbutton .submitbutton-a-end{background:transparent url('[:theme]/images/submitbutton_a.png') -248px 0px no-repeat;}
.submitbutton .submitbutton-b-end{background:transparent url('[:theme]/images/submitbutton_b.png') -248px 0px no-repeat;}
.submitbutton .submitbutton-end{width:2px;height:22px;overflow:hidden;position:relative;float:left;}
#UIPage{margin: 0px auto;width: 950px;position: relative;text-align: left;}
#globalheader{width: 950px;overflow:hidden;background: #3b5998;/*border-left:solid 1px #;border-right:solid 1px #;*/}
#globalheader-bottom{background: url('[:theme]/images/globalheader_bottom_bg.png') top left no-repeat;height: 5px; width: 950px;overflow:hidden;}
#globalheader #globalheader-content{}
#globalheader #globalheader-content #logobar{float: left; width: 150px; overflow: hidden;}
#globalheader #globalheader-content #logobar #logobar-inner{padding: 10px 9px 5px 9px;vertical-align: middle;}
#globalheader #globalheader-content #logobar #logobar-inner .home{display: block; width: 130px; height: 20px;background:url('[:theme]/images/logo.png') top left no-repeat;}
#globalheader #globalheader-content #logobar #logobar-inner .home:hover{background:url('[:theme]/images/logo.png') bottom left no-repeat;}
#globalheader #globalheader-content #menubar{float: right; width: 800px;}
#globalheader #globalheader-content #menubar a{font-weight: bold; color: #ffffff;display: inline-block;padding: 5px;}
#globalheader #globalheader-content #menubar a:hover{text-decoration: none;}
#globalheader #globalheader-content #menubar #menubar-inner{padding: 10px 9px 5px 9px;}
#globalheader #globalheader-content #menubar #menubar-inner #main-menu{float: left; width: 480px;}
#globalheader #globalheader-content #menubar #menubar-inner #main-menu #main-menu-list{float: left;display: inline;text-decoration: none;vertical-align: middle;list-style-type: none;}
#globalheader #globalheader-content #menubar #menubar-inner #main-menu #main-menu-list li{display: inline-block; vertical-align: middle;position: relative;float: left;}
#globalheader #globalheader-content #menubar #menubar-inner #main-menu #main-menu-list li a:hover{background:#6d84b4;}
#globalheader #globalheader-content #menubar #menubar-inner #account-menu{float: right; width: 300px;text-align: right;}
#globalheader #globalheader-content #menubar #menubar-inner #account-menu #account-menu-list{float: right;text-align: right;display: inline;text-decoration: none;vertical-align: middle;list-style-type: none;}
#globalheader #globalheader-content #menubar #menubar-inner #account-menu #account-menu-list li{display: inline-block; vertical-align: middle;position: relative;float: left;}
#globalheader #globalheader-content #menubar #menubar-inner #account-menu #account-menu-list li a{font-weight: normal;}
#globalheader #globalheader-content #menubar #menubar-inner #account-menu #account-menu-list li a:hover{background:#6d84b4;}
#globalbody{height: auto;width: 950px; overflow: hidden;}
#globalbody #globalbody-inner{padding:20px 0px;}

#mainbody{}
#mainbody #mainbody-inner{padding: 0px 15px;}
#mainbody #mainbody-inner #sidebar{float: left; overflow: hidden; width: 200px;}
#mainbody #mainbody-inner #sidebar #sidebar-inner{}
#mainbody #mainbody-inner #sidebar #sidebar-inner #quicklogin{width: 200px;margin-bottom: 10px;}
#mainbody #mainbody-inner #sidebar #sidebar-inner #quicklogin #quicklogin-top{overflow:hidden;width: 200px;height: 5px;background:url('[:theme]/images/quicklogin_top_bg.png') top left no-repeat;}
#mainbody #mainbody-inner #sidebar #sidebar-inner #quicklogin #quicklogin-content{width: 198px; border-left:solid 1px #b8d4e8;border-right:solid 1px #b8d4e8;background:#f0f5f8;overflow: hidden;}
#mainbody #mainbody-inner #sidebar #sidebar-inner #quicklogin #quicklogin-content-inner{padding: 15px 19px; width: 160px;}
#mainbody #mainbody-inner #sidebar #sidebar-inner #quicklogin #quicklogin-content-inner #quicklogin-form{}
#mainbody #mainbody-inner #sidebar #sidebar-inner #quicklogin #quicklogin-content-inner #quicklogin-form #Qlogin{padding-bottom:10px;}
#mainbody #mainbody-inner #sidebar #sidebar-inner #quicklogin #quicklogin-content-inner #quicklogin-form #Qlogin #quicklogin-form-inner{}
#mainbody #mainbody-inner #sidebar #sidebar-inner #quicklogin #quicklogin-content-inner #quicklogin-form #Qlogin #quicklogin-form-inner label{display:block;font-weight:bold;padding-bottom: 2px;}
#mainbody #mainbody-inner #sidebar #sidebar-inner #quicklogin #quicklogin-content-inner #quicklogin-form #Qlogin #quicklogin-form-inner .inputtext,
#mainbody #mainbody-inner #sidebar #sidebar-inner #quicklogin #quicklogin-content-inner #quicklogin-form #Qlogin #quicklogin-form-inner .inputpass{margin-bottom:4px;width:152px;padding:3px;height:12px;border:solid 1px #dddddd;}
#mainbody #mainbody-inner #sidebar #sidebar-inner #quicklogin #quicklogin-content-inner #quicklogin-form #Qlogin #quicklogin-form-inner .autologin{margin-bottom:4px;}
#mainbody #mainbody-inner #sidebar #sidebar-inner #quicklogin #quicklogin-content-inner #quicklogin-form #Qlogin #quicklogin-form-inner .autologin .inputcheckbox{}
#mainbody #mainbody-inner #sidebar #sidebar-inner #quicklogin #quicklogin-content-inner #quicklogin-form #Qlogin #quicklogin-form-inner .autologin .autologin-text{font-weight: normal;}
#mainbody #mainbody-inner #sidebar #sidebar-inner #quicklogin #quicklogin-content-inner #quicklogin-form #Qlogin #quicklogin-form-inner .submitbutton{}
#mainbody #mainbody-inner #sidebar #sidebar-inner #quicklogin #quicklogin-bottom{overflow:hidden;width: 200px;height: 5px;background:url('[:theme]/images/quicklogin_bottom_bg.png') top left no-repeat;}
#mainbody #mainbody-inner #sidebar #sidebar-inner .sidebar-extra{width: 200px;margin-bottom: 10px;}
#mainbody #mainbody-inner #sidebar #sidebar-inner .sidebar-extra .sidebar-extra-top{overflow:hidden;width: 200px;height: 5px;background:url('[:theme]/images/sidebar_extra_top_bg.png') top left no-repeat;}
#mainbody #mainbody-inner #sidebar #sidebar-inner .sidebar-extra .sidebar-extra-content{width: 198px; border-left:solid 1px #eeeeee;border-right:solid 1px #eeeeee;background:#f0f5f8;}
#mainbody #mainbody-inner #sidebar #sidebar-inner .sidebar-extra .sidebar-extra-content-inner{padding: 15px 19px; width: 160px;}
#mainbody #mainbody-inner #sidebar #sidebar-inner .sidebar-extra .sidebar-extra-bottom{overflow:hidden;width: 200px;height: 5px;background:url('[:theme]/images/sidebar_extra_bottom_bg.png') top left no-repeat;}
/*20 px spacing between side and wide bar*/
#mainbody #mainbody-inner #widebar{float: right; overflow: hidden; width: 700px;}

#globalfooter{height: auto;width: 950px; overflow: hidden;border-top: solid 1px #eeeeee;}
#globalfooter #globalfooter-inner{}