.maincolumn {width:760px;float:left;}
.adcolumn {width:160px;float:left;padding:10px 0 0 20px;}

.maincolumn .friends_header {padding:10px;}
.maincolumn .friends_subheader {padding:30px 10px 4px;border:1px solid #DDD;}
.maincolumn .friend_item {padding:20px 0 0 23px;border:1px solid #DDD;border-top:none;}
.maincolumn .friend_item .row {margin-bottom:20px;}
.maincolumn .friend_item .person {float:left;padding:3px 23px 3px 0;}
.maincolumn .friend_item .person .UIRoundedImage {margin-bottom:3px;}
.maincolumn .friend_item .person .user_name {width:50px;display:block;overflow:hidden;text-align:center;padding:5px 0;}

.maincolumn .image {margin-right:10px;float:left;}
.maincolumn .text {float:left;}
.maincolumn .friend_item_full {border:1px solid #DDD;border-top:none;display:none;background-color:#FBFDFF;}
