.widecolumn {width:540px;float:left;}
.narrowcolumn {width:200px;float:left;margin-left:20px;}
.adcolumn {width:160px;float:left;padding:56px 0 0 20px;}

.widecolumn .group_title {background:transparent url('[theme_url]/Images/Icons/group.gif') no-repeat scroll left 1px;border-bottom:1px solid #EEEEEE;color:gray;margin-left:10px;padding-bottom:15px;padding-left:22px;}
.widecolumn .group_title h2 {font-size:14px;padding-bottom:2px;}
.widecolumn .group_info_section {padding:10px 10px 20px 8px;}
.widecolumn .group_info_section h4 {color:#444444;margin:1px 0 0;padding:4px 0 2px;}
.widecolumn .group_info_section dl {padding:0;margin:0;}
.widecolumn .group_info_section dt {float:left;padding:1px 0;width:120px;color:gray;}
.widecolumn .group_info_section dd {float:left;padding:1px 0;margin-left:20px;width:340px;}
.widecolumn .box_header {border-top:1px solid #94A3C4;background-color:#ECEFF5;color:#333;padding:5px 8px;text-align:left;font-weight:bold;}
.widecolumn .box_subheader {border-bottom:1px solid #ECEFF5;padding:5px 8px;}
.widecolumn .subtitle {dispaly:block;float:left;}
.widecolumn .actionlink {dispaly:block;float:right;}
.widecolumn .box_content {padding:10px 5px;}
.widecolumn .group_members .box_content li {float:left;padding:5px 8px;}
.widecolumn .group_members .box_content .user_name {width:50px;display:block;padding:5px 0;text-align:center;}

#wall {width:540px;}
#wall #inputarea {width:540px;text-align:right;border-bottom:1px solid #CCC;background-color:#F7F7F7;}
#wall #inputarea textarea {width:514px;height:50px;margin:8px;padding:3px;border:1px solid #BDC7D8;overflow:auto;font-size:12px;}
#wall #inputarea input {margin-right:8px;margin-bottom:18px;background-color:#3B5998;border-color:#D9DFEA #0E1F5B #0E1F5B #D9DFEA;border-style:solid;border-width:1px;color:#FFFFFF;padding:2px 15px 3px;text-align:center;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:10px;}
.zh #wall #inputarea input {font-size:12px;}
#wall #posts {padding:15px 8px 0;}
#wall #posts .post_item {margin-bottom:15px;}
#wall #posts .picture {float:left;width:50px;margin:0 0 15px;}
#wall #posts .item {float:left;width:460px;margin-left:10px;border-top:1px solid #3B5998;border-bottom:1px solid #D8DFEA;}
#wall #posts .item .user {padding:3px 5px;border-bottom:1px solid #D8DFEA;background-color:#F7F7F7;}
#wall #posts .item .user a {font-weight:bold;}
#wall #posts .item .DateAndTime {font-size:10px;color:#aaa;font-weight:normal;padding:3px 0;}
.zh #wall #posts .item .DateAndTime {font-size:11px;}
#wall #posts .item .content {padding:5px;width:450px;overflow:hidden;}
#wall #posts .item .wallactions {padding:3px 5px;}
#wall #posts .item .wallactions a {cursor:pointer;font-size:10px;}
.zh #wall #posts .item .wallactions a {font-size:12px;}
#wall .moreaction {width:540px;text-align:right;margin-bottom:15px;}

#photos {width:540px;height:120px;padding:10px 0;text-align:center;margin:0 auto;}
#photos .item {float:left;width:102px;margin-right:6px;_margin-right:2px;}
#photos .item a img {border:1px solid #CCC;padding:2px;background-color:#FFF;}
#photos .item a:hover img {border:1px solid #3B5998;}
#photos .fallback {text-align:center;color:#808080;padding:15px 5px;line-height:19px;background-color:#F7F7F7;border-bottom:1px solid #D8DFEA;border-top:1px solid #CCC}

.narrowcolumn .picture {width:200px;text-align:center;}

.narrowcolumn #profile_actions {width:200px;padding:10px 0 20px;}
.narrowcolumn #profile_actions li a {height:13px;padding:3px 4px;display:block;text-decoration:none;border-bottom:1px solid #D8DFEA;cursor:pointer;}
.narrowcolumn #profile_actions li a:hover {background-color:#3B5998;color:#FFF;}

.narrowcolumn .roundbox {border-left:1px solid #D8DFEA;border-bottom:1px solid #94A3C4;margin-bottom:40px;}
.narrowcolumn .box_header {background-color:#ECEFF5;color:#333;padding:5px 8px;font-weight:bold;border-top:1px solid #94A3C4;}
.narrowcolumn .box_content {padding:10px;}
.narrowcolumn .box_content ul {list-style-type:disc;}
.narrowcolumn .box_content li {color:#3B5998;margin-left:18px;display:list-item;list-style-image:none;list-style-position:outside;list-style-type:square;line-height:16px;}
.narrowcolumn .box_content li span {color:black;}
.narrowcolumn .actions {padding-left:10px;}

/* members */
.maincolumn {width:760px;float:left;}

.maincolumn .friends_header {padding:10px;}
.maincolumn .friends_subheader {padding:30px 10px 4px;border:1px solid #DDD;}
.maincolumn .friend_item {padding:20px 0 0 23px;border:1px solid #DDD;border-top:none;}
.maincolumn .friend_item .row {margin-bottom:20px;}
.maincolumn .friend_item .person {float:left;padding:3px 23px 3px 0;}
.maincolumn .friend_item .person .UIRoundedImage {margin-bottom:3px;}
.maincolumn .friend_item .person .user_name {width:50px;display:block;overflow:hidden;text-align:center;padding:5px 0;}

.maincolumn .image {margin-right:10px;float:left;}
.maincolumn .text {float:left;}
.maincolumn .friend_item_full {border:1px solid #DDD;border-top:none;display:none;background-color:#FBFDFF;}
