body {font-size:11px;}
.WelcomePage {background:transparent url('[theme_url]/Images/linear_shim.png') repeat-x 0 0;}

.WelcomePage_Container {background:transparent url('[theme_url]/Images/linear_tile.jpg') repeat-x scroll center bottom;}
.WelcomePage_Container .WelcomePage_MainSell {width:964px;margin:0 auto;padding-top:36px;text-align:left;background:transparent url('[theme_url]/Images/radial_behind_content.jpg') no-repeat center bottom scroll;}
.WelcomePage_Container .WelcomePage_MainSell .WelcomePage_MainSellCenter {padding:0 12px;}
.WelcomePage_MainSellLeft {float:left;padding-bottom:20px;width:536px;}
.WelcomePage_MainSellLeft .WelcomePage_MainMessage {height:58px;color:#203360;font-size:20px !important;font-weight:bold !important;line-height:29px;margin:1px 0 0 6px;padding-right:60px;word-spacing:-1px;}
.WelcomePage_MainSellLeft .WelcomePage_MainMap {height:195px;margin-left:-11px;margin-top:20px;width:537px;background:transparent url("[theme_url]/Images/welcome_page_map.png") no-repeat scroll left top !important;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="[theme_url]/Images/welcome_page_map.png", sizingMethod="scale");_ background-image:none;}
.WelcomePage_MainSellRight {float:left;padding:0;width:396px;}
.WelcomePage_MainSellRight .WelcomePage_SignUpHeadline {color:#203360;font-size:20px !important;line-height:29px;word-spacing:-1px;font-weight:bold !important;}
.WelcomePage_MainSellRight .WelcomePage_SignUpSubheadline {color:#203360;font-size:20px !important;line-height:29px;padding-top:1px;word-spacing:-1px;}
.WelcomePage_MainSellRight .WelcomePage_SimpleReg {padding:10px 0 20px;}
.WelcomePage_MainSellRight .WelcomePage_SimpleReg .label {color:#1D2A5B;padding-right:4px;text-align:right;width:90px;}
.WelcomePage_MainSellRight .WelcomePage_SimpleReg .inputtext,.WelcomePage_SimpleReg .inputpassword {border-color:#96A6C5;margin-top:2px;width:206px;}
.WelcomePage_MainSellRight .WelcomePage_SimpleReg select {border-color:#96A6C5;;margin:2px 0 0;}
.WelcomePage_MainSellRight .WelcomePage_SimpleReg .reg_btn {margin-left:95px;}
