a, body, br, div, fieldset, form, h1, h2, h3, h4, h5, h6, html, hr, img, input, label, legend, li, p, ul, table, tr, th, td, p, span{margin: 0px;	padding: 0px;}
fieldset{border: 0px; background: none;}
legend{display: none;}
html, body {height: 100%;}
body{font-family:"lucida grande", tahoma, verdana, arial, sans-serif; font-size: 12px;}
h1, h2, h3, h4, h5, h6{font-size: 13px;}
img{border: 0px;}
a{cursor:pointer;-moz-outline-style:none;text-decoration:none;color:#3b5998;}
a:hover{text-decoration: underline;}
input,select{font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:11px;}
select{padding:2px;border: solid 1px #1D2A5B;padding:3px;}
label{cursor: pointer;}
.clearfix{display: inline-block;} html[xmlns] .clearfix{display: block;} *html .clearfix{height: 1%;} .clearfix:after{content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
ul,li {list-style:none;}
table {padding:0 0 7px;}
table tr {height:25px}

.inputtext,.inputpassword {width:140px;padding:3px;border: solid 1px #1D2A5B;padding:3px;}
.UILinkButton,.UILinkButton_RW {float:left;height:22px;padding:0;position:relative;z-index:1;}
.UILinkButton_A {background:transparent url([:theme]/images/UILinkButton_Blue.gif) no-repeat scroll left top;border:0 none;color:white;cursor:pointer;float:left;font-size:11px;font-weight:bold;height:22px;margin:0;padding:3px 10px 3px 12px;position:relative;}
.UILinkButton_R {background:transparent url([:theme]/images/UILinkButton_Blue.gif) no-repeat scroll -248px 0;height:27px;position:absolute;right:0;top:0;width:2px;}

#non_footer {min-height:100%;position:relative;height:auto !important;height:100%;}
#page_height {padding-bottom:100px;}
#page_height #menubar_container {width:964px;margin:0 auto;}
#page_height #content {width:auto;}

#menubar_container .menubar_logged_in {height:29px;background:transparent url('[:theme]/images/menubar_background.gif') 0 -71px no-repeat;}
#menubar_container .menubar_logged_in #logobar {width:90px;float:left;margin:5px 10px;}
#menubar_container .menubar_logged_in #logobar .home {width:90px;height:17px;display:block;background:transparent url('[:theme]/images/menubar_logo.gif') 0 0 no-repeat;}
#menubar_container .menubar_logged_in #logobar .home:hover {background-position:0 -17px;}
#main_menu a {display:block;color:#fff;padding:7px 10px;text-decoration:none;font-weight:bold;margin-right:4px;}
#account_menu a {display:block;color:#fff;padding:7px 10px;text-decoration:none;margin-right:4px;}
#main_menu a:hover,#account_menu a:hover {background-color:#5C75AA;}
#main_menu .main_menu {float:left;}
#account_menu .account_menu {float:right;}


#page_footer {width:964px;margin: -60px auto 0;position:relative;background-color:#F7F7F7;border:1px solid #999;padding:4px 10px;}
#page_footer .copyright_and_location {float:left;padding:0 5px;}
#page_footer .page_footer_links,.page_footer_links li {float:right;}
#page_footer .page_footer_links li {padding:0 5px;}
