/*
.ie6 #menubar_container .menubar_logged_out {_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='[:theme]/images/menubar_background.png', sizingMethod='scale');}
.ie6 #menubar_container .menubar_logged_out #logobar .home {width:170px;height:36px;display:block;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='[:theme]/images/menubar_logo_big.png', sizingMethod='scale');}
*/
.zh *{font-size:12px;}
.zh h1, h2, h3, h4, h5, h6{font-size: 13px;}