.WelcomePage {background:transparent url('[:theme]/images/linear_shim.png') repeat-x 0 0;}

#menubar_container .menubar_logged_out {height:83px;background:transparent url('[:theme]/images/menubar_background.png') 0 -17px no-repeat;}
#menubar_container .menubar_logged_out #logobar {width:170px;float:left;margin:31px 0 0 18px;}
#menubar_container .menubar_logged_out #logobar .home {width:170px;height:36px;display:block;background:transparent url('[:theme]/images/menubar_logo_big.png') 0 0 no-repeat;}

#menu_login_container {width:500px;float:right;margin:28px 18px 0 0;}
#menu_login_container table {float:right;}
#menu_login_container table tr td {padding:0 0 0 16px;text-align:right;}
#menu_login_container .login_form_label_field {padding-bottom:3px;}
#menu_login_container .login_form_label_field label,a {color:#98A9CA;}
#menu_login_container .login_form_label_field label input {margin-right:5px;}
#menu_login_container .inputtext,.inputpassword {width:140px;padding:3px;border-color:#1D2A5B;}

.WelcomePage_Container {padding-top:36px;background:transparent url('[:theme]/images/radial_behind_content.jpg') repeat-x center bottom scroll;}
.WelcomePage_Container .WelcomePage_MainSell {width:964px;margin:0 auto;}
.WelcomePage_Container .WelcomePage_MainSell .WelcomePage_MainSellCenter {padding:0 12px;width:}
.WelcomePage_MainSellLeft {float:left;padding-bottom:20px;width:536px;}
.WelcomePage_MainSellLeft .WelcomePage_MainMessage {color:#203360;font-size:20px !important;font-weight:bold !important;line-height:29px;margin:1px 0 0 6px;padding-right:60px;word-spacing:-1px;}
.WelcomePage_MainSellLeft .WelcomePage_MainMap {background:transparent url([:theme]/images/welcome_page_map.png) no-repeat scroll left top !important;height:195px;margin-left:-11px;margin-top:20px;width:537px;}
.WelcomePage_MainSellRight {float:left;padding:0;width:396px;}
.WelcomePage_MainSellRight .WelcomePage_SignUpHeadline {color:#203360;font-size:20px !important;line-height:29px;word-spacing:-1px;font-weight:bold !important;}
.WelcomePage_MainSellRight .WelcomePage_SignUpSubheadline {color:#203360;font-size:20px !important;line-height:29px;padding-top:1px;word-spacing:-1px;}
.WelcomePage_MainSellRight .WelcomePage_SimpleReg {padding:10px 0 20px;}
.WelcomePage_MainSellRight .WelcomePage_SimpleReg table {padding:0 0 7px;}
.WelcomePage_MainSellRight .WelcomePage_SimpleReg .label {color:#1D2A5B;padding-right:3px;text-align:right;width:90px;}
.WelcomePage_MainSellRight .WelcomePage_SimpleReg .inputtext,.WelcomePage_SimpleReg .inputpassword {border-color:#96A6C5;margin-top:2px;width:206px;}
.WelcomePage_MainSellRight .WelcomePage_SimpleReg select {border-color:#96A6C5;;margin:2px 0 0;}