/* home welcome */
.home_welcome {margin-bottom:16px;}

.home_welcome h1 {display:inline;font-size:16px;}
.home_welcome #welcome_requests {margin-left:8px;}
.home_welcome #welcome_requests .spritemap_icons {vertical-align:bottom;}

/* home left column */
#home_left_column {width:670px;float:left;}

#home_left_column #home_filter {clear:left;float:left;width:126px;}
#home_left_column #home_filter .UIFilterList_Item {display:block;height:26px;margin:0;overflow:hidden;padding:0 2px;position:relative;}
#home_left_column #home_filter .UIFilterList_FirstItem {border-top:1px solid #DDDDDD;}
#home_left_column #home_filter .UIFilterList_Selected {background:transparent url([theme_url]/Images/UIFilterList_Selected_ltr.gif) no-repeat scroll left top;border-top:1px solid white;height:27px;margin-top:-1px;}
#home_left_column #home_filter .UIFilterList_Item .UIFilterList_ItemLink {border-bottom:1px solid #D6D9DE;color:#333;display:block;height:19px;margin:0;overflow:hidden;padding:6px 7px 0 25px;white-space:nowrap;}
#home_left_column #home_filter .UIFilterList_Icon {background-position:right top;background-repeat:no-repeat;height:16px;left:5px;position:absolute;top:5px;width:16px;}
#home_left_column #home_filter .UIFilterList_ItemRight {display:none;}
#home_left_column #home_filter .UIFilterList_BottomMargin {padding-bottom:20px;}

#home_left_column #home_filter .NewsFeed_Icon {background-image:url([theme_url]/Images/app_icons/newsfeed.gif);}
#home_left_column #home_filter .PublicProfiles_Icon {background-image:url([theme_url]/Images/app_icons/fbpage.gif);}
#home_left_column #home_filter .Network_Icon {background-image:url([theme_url]/Images/app_icons/network.gif);}
#home_left_column #home_filter .Photo_Icon {background-image:url([theme_url]/Images/app_icons/photo.gif);}
#home_left_column #home_filter .Video_Icon {background-image:url([theme_url]/Images/app_icons/video.gif);}
#home_left_column #home_filter .Post_Icon {background-image:url([theme_url]/Images/app_icons/post.gif);}
#home_left_column #home_filter .Note_Icon {background-image:url([theme_url]/Images/app_icons/note.gif);}
#home_left_column #home_filter .Event_Icon {background-image:url([theme_url]/Images/app_icons/event.gif);}

#home_left_column #home_filter .UIFilterList_Selected .UIFilterList_ItemLink {border-bottom:0 none;color:#FFFFFF;padding-bottom:6px;}
#home_left_column #home_filter .UIFilterList_Selected .UIFilterList_Icon {background-position:left top;}
#home_left_column #home_filter .UIFilterList_Selected .UIFilterList_ItemRight {background:transparent url([theme_url]/Images/UIFilterList_Selected_ltr.gif) no-repeat scroll left -27px;display:block;height:27px;position:absolute;right:0;top:0;width:9px;}

/*  Start Temp  */
/* #home_left_column #home_stream {float:left;padding-left:14px;width:530px;} */
#home_left_column #home_stream {float:left;width:100%;}
.UIComposer_Pic {position:absolute;}
.UIComposer_STATE_PIC_OUTSIDE .UIComposer_UIRoundedBox {padding-left:59px;}
.UIComposer{margin-bottom:10px;overflow:hidden;}
.safari2 .UIComposer,
.safari3 .UIComposer{position:relative;}
.UIComposer_Upload_Iframe{width:1px;height:1px;position:absolute;left:0;top:-1000px;}
.UIComposer_Pic{position:absolute;}
.safari2 .UIComposer_Pic,
.safari3 .UIComposer_Pic{left:0;}
.UIComposer_PicRounded{position:absolute;left:0;}
.UIComposer_Content{overflow:hidden;padding:1px 9px 0 9px;}
.UIComposer_Prompt{color:#696969;font-size:13px;font-weight:bold;margin-bottom:5px;}
.UIComposer_Table{width:100%;}
.UIComposer_TDTextArea{background:white;border:1px solid #bbbbbb;border-top-color:#aeaeae;width:100%;}
.UIComposer_TextAreaShadow{border-top:1px solid #e8e8e8;padding:2px 3px 3px 3px;}
.ie6 .UIComposer_TextAreaShadow,
.ie7 .UIComposer_TextAreaShadow{padding:1px 3px 2px 3px;}
.UIComposer_TextArea{border:none;font-size:13px;margin:0;vertical-align:bottom;width:100%;height:21px;outline:none;overflow:hidden;padding:0;resize:none;}
.UIComposer_TDButton{padding-left:8px;vertical-align:top;white-space:nowrap;}
.UIComposer_ButtonContainer{background:url([theme_url]/Images/UIComposer_sprites_v3.gif) right -25px no-repeat #5C74A3;padding-right:2px;position:relative;}
.UIComposer_Button{background:url([theme_url]/Images/UIComposer_sprites_v3.gif) left -25px no-repeat;border:none;color:white;cursor:pointer;font-size:13px;font-weight:bold;height:29px;line-height:27px;margin:0;padding:0 5px 3px 7px;}
.safari2 .UIComposer_Button,
.safari3 .UIComposer_Button{padding:0 6px 0 10px;}
.ie6 .UIComposer_Button{padding:0 0 0 4px;}
.ie7 .UIComposer_Button{padding:0 1px 0 3px;}

.UIRoundedBox_Container{margin:0px;padding:0px;}
.UIRoundedBox_BottomMargin{padding-bottom:10px;}
.UIRoundedBox_Box{margin:0px;padding:0px;}
.UIRoundedBox_Container .UIRoundedBox_Side{/* @noflip */background:url([theme_url]/Images/UIRoundedBox_SideSpriteGray_ltr.gif) top left repeat-y;}
.UIRoundedBox_WhiteBackground .UIRoundedBox_Side{/* @noflip */background:url([theme_url]/Images/UIRoundedBox_SideSpriteWhite_ltr.gif) top left repeat-y;}
.UIRoundedBox_GrayGirlyBlueBackground .UIRoundedBox_Side{/* @noflip */background:url([theme_url]/Images/UIRoundedBox_SideSpriteGrayGirlyBlue.gif) top left repeat-y;}
.UIRoundedBox_GirlyBlueBackground .UIRoundedBox_Side{/* @noflip */background:url([theme_url]/Images/UIRoundedBox_SideSpriteGirlyBlue.gif) top left repeat-y;}
.UIRoundedBox_GrayBlueTopBackground .UIRoundedBox_Side{/* @noflip */background:url([theme_url]/Images/UIRoundedBox_SideSpriteGrayBlueTop.gif) top left repeat-y;}
.UIRoundedBox_GrayDarkTopBackground .UIRoundedBox_Side{/* @noflip */background:url([theme_url]/Images/UIRoundedBox_SideSpriteGrayDarkTop.gif) top left repeat-y;}
.UIRoundedBox_GirlyBlueBackgroundNoBorder .UIRoundedBox_Side{/* @noflip */background:url([theme_url]/Images/UIRoundedBox_SideSpriteGirlyBlueNoBorder.gif) top left repeat-y;}
.UIRoundedBox_Container .UIRoundedBox_LS{/* @noflip */background-position:left top;}
.UIRoundedBox_Container .UIRoundedBox_RS{/* @noflip */background-position:right top;padding:0px 1px;}
.UIRoundedBox_Container .UIRoundedBox_Corner{/* @noflip */background:url([theme_url]/Images/UIRoundedBox_SpriteGray_ltr.gif) top left no-repeat;}
.UIRoundedBox_WhiteBackground .UIRoundedBox_Corner{/* @noflip */background:url([theme_url]/Images/UIRoundedBox_SpriteWhite_ltr.gif) top left repeat-y;}
.UIRoundedBox_GrayGirlyBlueBackground .UIRoundedBox_Corner{/* @noflip */background:url([theme_url]/Images/UIRoundedBox_SpriteGrayGirlyBlue.gif) top left repeat-y;}
.UIRoundedBox_GirlyBlueBackground .UIRoundedBox_Corner{/* @noflip */background:url([theme_url]/Images/UIRoundedBox_SpriteGirlyBlue.gif) top left repeat-y;}
.UIRoundedBox_GrayBlueTopBackground .UIRoundedBox_Corner{/* @noflip */background:url([theme_url]/Images/UIRoundedBox_SpriteGrayBlueTop.gif) top left no-repeat;}
.UIRoundedBox_GrayDarkTopBackground .UIRoundedBox_Corner{/* @noflip */background:url([theme_url]/Images/UIRoundedBox_SpriteGrayDarkTop.gif) top left no-repeat;}
.UIRoundedBox_GirlyBlueBackgroundNoBorder .UIRoundedBox_Corner{/* @noflip */background:url([theme_url]/Images/UIRoundedBox_SpriteGirlyBlueNoBorder.gif) top left repeat-y;}
.UIRoundedBox_Container .UIRoundedBox_TL{padding:0;/* @noflip */background-position:left top;}
.UIRoundedBox_Container .UIRoundedBox_TR{padding:5px 0 0 0;/* @noflip */background-position:right top;}
.UIRoundedBox_Container .UIRoundedBox_BL{padding:0;/* @noflip */background-position:left bottom;}
.UIRoundedBox_Container .UIRoundedBox_BR{padding:0 0 5px 0;/* @noflip */background-position:right bottom;}
.UIRoundedBox_GrayDarkTopBackground .UIRoundedBox_Box .UIRoundedBox_TR,
.UIRoundedBox_GrayBlueTopBackground .UIRoundedBox_Box .UIRoundedBox_TR{padding:9px 0 0 0;}
.UIRoundedBox_GrayDarkTopBackground .UIRoundedBox_Box .UIRoundedBox_BR,
.UIRoundedBox_GrayBlueTopBackground .UIRoundedBox_Box .UIRoundedBox_BR{padding:0 0 9px 0;}
/*  End Temp  */

.UIIntentionalStory_Pic {position:absolute;}
.UIIntentionalStory_Body {min-height:50px;overflow:hidden;padding:0 0 0 60px;}
.UIIntentionalStream .UIIntentionalStory_Message {width:435px;}
.UIIntentionalStory_Message {color:#333;display:inline-block;font-size:13px;font-weight:normal;overflow:hidden;position:relative;}
.UIIntentionalStory_Names {color:#444;font-weight:bold;}
.UIIntentionalStory_Message {color:#333;font-size:13px;font-weight:normal;}
.UIStoryAttachment {margin-top:4px;}
.UIStoryAttachment_Content {overflow:hidden;padding-right:10px;}
.UIIntentionalStory .UIStoryAttachment_MediaSingle {padding-right:10px;}
.UIStoryAttachment_Media {float:left;overflow:hidden;}
.UIMediaItem img {display:block;vertical-align:middle;}
.UIStoryAttachment_Copy {color:gray;padding-top:2px;}
.UIIntentionalStory_AttachmentInfo {padding-top:5px;}
.UIIntentionalStory_Info {clear:left;margin-top:1px;overflow:hidden;}
.UIIntentionalStory_Icon, .UIIntentionalStory_Mobile {position:absolute;}
.UIIntentionalStory_InfoText {min-height:16px;padding:2px 0 0;}
.UIIntentionalStory_InfoTextIndented {padding-left:22px;}
.UIIntentionalStory_Time {color:#777777;font-size:11px;}
span.action_links_bottom {color:#999999;display:inline-block;}
span.action_links_bottom {color:#999999;}
.action_link_dash {color:#888888;}
.like_not_exists .like_component_exists {display:block;}
.like_not_exists .like_component_exists {display:none;}

.collapsed_comments .comment_box {display:block;}
.commentable_item .comment_box {background:transparent url([theme_url]/Images/box_bg.gif) no-repeat scroll left 1px;clear:both;font-size:11px;overflow:hidden;padding:7px 0 0;}
.commentable_item .comment_box {font-size:11px;}
.like_box {overflow:hidden;}
.wallpost {float:left;margin:0 0 15px;padding:0;}
.commentable_item .view_all_link, .commentable_item .show_all_link, .commentable_item .wallpost {background:#ECEFF5 none repeat scroll 0 0;border-bottom:1px solid #E5EAF1;clear:left;float:none;margin-bottom:2px;overflow:hidden;width:350px;}
.commentable_item .show_all_link, .commentable_item .wallpost {padding:6px 4px 6px 6px;}
.commentable_item .wallpost {padding-bottom:0;}
.commentable_item .like_box .wallpost {padding-bottom:0;}
.like_box .like_sentence_container {overflow:hidden;padding:0 0 5px;position:relative;}
.like_sentence {padding-top:1px;}
.like_box_thumb_icon {display:block;float:left;margin-left:1px;margin-right:4px;width:15px;height:13px;}
.like_sentence_exists .like_box_thumb_icon {background:transparent url([theme_url]/Images/like_on.gif) no-repeat scroll left top;}
.commentable_item .comment_box .comments_add_box {border:0 none;margin-bottom:0;padding:0;}
.commentable_item .comment_box .comments_add_box .wallcommentbox {margin-bottom:4px;margin-left:0;position:relative;}
.commentable_item .comment_box .comments_add_box .comments_add_box_image {float:left;margin-right:7px;}
textarea {border:1px solid #BDC7D8;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:11px;padding:3px;}
.DOMControl_autogrow {overflow:hidden;}
.commentable_item .comment_box .comments_add_box textarea {height:29px;margin:0;min-height:29px;overflow:auto;width:298px;}
.commentable_item .comment_box .comments_add_box .inline_comment_buttons {padding:0 0 7px 42px;}
.commentable_item .comment_box .comments_add_box .comments_add_box_submit {float:left;width:100px;}

/* home sidebar */
#home_sidebar {float:left;margin:-3px 0 0 20px;width:250px;}

.UIHomeBox {margin-bottom:25px;overflow:hidden;}
.UIHomeBox_Top {border-bottom:1px solid #CCCCCC;overflow:hidden;padding:0 0 4px;vertical-align:bottom;}
.UIHomeBox_TitleBar {float:left;}
.UIHomeBox_Title {color:#808080;font-weight:bold;text-transform:uppercase;}
.UIHomeBox_Content {margin-top:8px;padding:0;}
.UIHotStory {border-top:1px solid #E6E6E6;margin-top:6px;overflow:hidden;padding-top:6px;}
.UIHotStory_Small .UIHotStory_Media {float:left;}
.UIHotStory_Media {padding:0 9px 0 0;}
.UIHotStory .UIMediaItem_Wrapper {overflow:hidden;}
.UIMediaItem img {display:block;vertical-align:middle;}
.UIHotStory_Small .UIHotStory_Body {float:left;width:166px;}
.UIHotStory_Icon {float:right;padding-left:6px;}
.spritemap_icons {background-image:url([theme_url]/Images/Icons/icons.png);background-repeat:no-repeat;height:16px;width:16px;}
.spritemap_icons.sx_group {background-position:0 -882px;height:14px !important;}
.spritemap_icons.sx_ad {background-position:0 -16px;height:15px !important;}
.UIHotStory_Title {font-size:11px;font-weight:bold;}
.UIHotStory_Why {color:#333;}
.UIHotStory_First {border-top:0 none;margin-top:0;padding-top:0;}
div.UIHotStory_Ad {border-top:0 none;margin-top:0;padding-top:0;}
.UIHotStory_Medium .UIHotStory_Media {float:left;padding-top:5px;}
.UIMediaItem img {display:block;vertical-align:middle;}
.UIHotStory_Sponsored {padding:2px 0 0;width:110px;}
.UIHotStory_Sponsored .sponsored {color:#999;font-size:9px;}
.UIHotStory_Sponsored .ads_feedback {display:inline;white-space:nowrap;}
.ads_feedback .thumbs_up {background:transparent url([theme_url]/Images/thumbs_up_faint.gif) no-repeat scroll left top;display:inline-block;height:13px;padding:0 3px 0 0;vertical-align:top;width:15px;}
.ads_feedback .thumbs_dn {background:transparent url([theme_url]/Images/thumbs_dn_faint.gif) no-repeat scroll left 4px;display:inline-block;height:17px;padding:0 4px 0 0;vertical-align:top;width:15px;}
.ads_feedback .next_ad {background:transparent url([theme_url]/Images/cycle_faint.gif) no-repeat scroll left 3px;display:inline-block;height:14px;vertical-align:top;width:9px;}
.ads_feedback .thumbs_up:hover {background-image:url([theme_url]/Images/thumbs_up.gif);text-decoration:none;}
.ads_feedback .thumbs_dn:hover {background-image:url([theme_url]/Images/thumbs_dn.gif);text-decoration:none;}
.ads_feedback .next_ad:hover {background-image:url([theme_url]/Images/cycle.gif);text-decoration:none;}
.UIHotStory_Medium .UIHotStory_Body {float:left;width:130px;}
.UIHotStory_Copy {color:#333;font-size:11px;padding-top:4px;}




.home_status_editor {margin:1px 0 12px 7px;overflow:hidden;}
.home_status_editor .home_status_editor_photo {float:left;margin-right:6px;}
.home_status_editor .home_status_editor_content {float:left;width:500px;}
.home_status_editor .status_composer {padding-left:0;}
.home_status_editor .status_composer {overflow:hidden;padding:6px 8px 5px 7px;}
.home_status_editor .status_composer .status_field {background:white none repeat scroll 0 0;border:1px solid #BDC7D8;height:19px;padding:0;position:relative;}
.home_status_editor .status_composer .status_field {border-left:medium none;}
.home_status_editor .status_composer .status_placeholder {margin-right:6px;padding:2px 0;}
.home_status_editor .status_composer .input_wrapper {margin:1px 0;overflow:hidden;padding:0 6px 0 0;}
.home_status_editor .status_composer .status_field input {border:medium none;margin:0 2px 0 0;width:100%;}
.home_status_editor .status_composer_inner {background:transparent url([theme_url]/Images/textarea_nub_ltr.gif) no-repeat scroll left -11px;padding-left:5px;}
/* temp */.home_status_editor .status_composer .status_field input {font-size:15px;padding:0;color:#777;padding-left:4px;}

.new_user_todo_holder {height:46px;border:1px solid #D8DFEA;margin:8px 0;padding:15px 24px 5px;background-color:#F8F9FB;}
.new_user_todo_icon {float:left;padding-right:10px;}
.new_user_todo {float:left;line-height:16px;padding:0 0 10px;}
.new_user_todo h3 {font-size:13px;padding:0 0 4px;font-weight:bold;}
.new_user_todo .sx_see_more {padding-left:5px;width:0;height:9px;background-position:0 -1569px;}

.tab {height:8px;border-bottom:1px solid #D3DAE8;margin-bottom:10px;}

.feed {padding:5px 0;}
.feed_icon {display:block;float:left;width:16px;height:18px;}
.sx_friend {background-position:0 -753px;}
.sx_photo {background-position:0 -1272px;}
.sx_comment {background-position:0 -1868px;}
.sx_wall {background-position:0 -1868px;}
.sx_translations {background-position:0 -1803px;}
.sx_invite {background-position:0 -985px;}
.sx_friend_finder {background-position:0 -769px;}
.feed_story {width:465px;padding-left:5px;float:left;}
.stroy_header {height:18px;padding-bottom:7px;}
.story_time {margin-left:5px;color:gray;font-size:11px;}
.story_body {padding:10px 0;}
.photo_border {float:left;width:108px;margin:0 0 5px;margin-right:10px;}
.story_body a img {border:1px solid #CCC;padding:3px;}
.story_body a:hover img {border-color:#3B5998;}
.story_quote {float:left;width:310px;background:transparent url('[theme_url]/Images/start_quote.gif') no-repeat scroll left top;margin:3px 5px 8px 0;padding-left:23px;}
.story_quote .em {background:transparent url('[theme_url]/Images/end_quote.gif') no-repeat scroll right bottom;color:#666;padding:2px 23px 2px 0;text-align:left;}

.UIRoundedBox {width:320px;margin-bottom:10px;}
.UIRoundedBox .T,.UIRoundedBox .B {width:320px;height:5px;background-image:url([theme_url][theme_url]/ImagesRoundedBox_corner.gif);background-repeat:no-repeat;}
.UIRoundedBox .C {border-left:1px solid #ccc;border-right:1px solid #ccc;background-color:#f7f7f7;}
.UIRoundedBox .T {background-position:0 0;}
.UIRoundedBox .B {background-position:0 -11px;}
.sidebar_item {border-bottom:1px solid #E9E9E9;padding:5px 0;}
.sidebar_item_header {padding:6px 9px;font-weight:bold;}
.sidebar_item_body {padding:0 9px 5px;line-height:18px;}
.sidebar_item_body ul,li {list-style:none;}
.sidebar_item_body li {width:105px;float:left;margin:4px 0;}
.socialmap {background:transparent url('[theme_url]/Images/Icons/friend.gif') no-repeat scroll left 3px;padding:4px 4px 4px 23px;}
.app_group {background:transparent url('[theme_url]/Images/Icons/group.gif') no-repeat scroll left 3px;padding:4px 4px 4px 23px;}
.app_photo {background:transparent url('[theme_url]/Images/Icons/photo.gif') no-repeat scroll left 3px;padding:4px 4px 4px 23px;}
.app_gift {background:transparent url('[theme_url]/Images/Icons/gift.gif') no-repeat scroll left 3px;padding:4px 4px 4px 23px;}
.friend_finder {background:transparent url('[theme_url]/Images/Icons/friend_finder.gif') no-repeat scroll left 3px;padding:4px 4px 4px 23px;}
.first {border-bottom:1px solid #f7f7f7;}
.UIHomeBox_More {float:right;}
.UIRequestsBox .request_link {display:block;padding-left:21px;}
.UIRequestsBox img {position:absolute;vertical-align:bottom;}
.UIRequestsBox_Short .UIRequestsBox_Request {float:left;width:125px;}
.UIConnectWithFriends .UIUpcoming_Item {padding-bottom:8px;}
.UIUpcoming_Info {padding:0 0 0 22px;}
.UIUpcoming_Icon {position:absolute;}
