.top_wash {width:100%;height:160px;position:absolute;background-color:#EDEFF4;border-bottom:1px solid #D8DFEA;margin-top:-90px;z-index:-1;}
.ie6 .top_wash,.ie7 .top_wash {height:191px;left:0;top:0;}

.narrowcolumn {width:200px;float:left;}
.widecolumn {width:540px;float:left;margin-left:20px;}
.adcolumn {width:160px;float:left;padding:56px 0 0 20px;}

.narrowcolumn .picture {width:200px;text-align:center;margin-bottom:2px;}
.narrowcolumn #profile_actions {width:200px;padding-bottom:20px;}
.narrowcolumn #profile_actions li .inactive {color:#BBB;height:13px;padding:3px 8px;display:block;border-bottom:1px solid #D8DFEA;}
.narrowcolumn #profile_actions li a {height:13px;padding:3px 8px;display:block;text-decoration:none;border-bottom:1px solid #D8DFEA;cursor:pointer;}
.narrowcolumn #profile_actions li a:hover {background-color:#3B5998;color:#FFF;}

.narrowcolumn .roundbox {border-bottom:1px solid #94A3C4;margin-bottom:40px;}
.narrowcolumn .box_header {border-top:1px solid #94A3C4;background-color:#ECEFF5;color:#333;padding:5px 8px;border-right:1px solid #D8DFEA;font-weight:bold;}
.narrowcolumn .box_subheader {border-bottom:1px solid #ECEFF5;color:#333;padding:2px 8px;border-right:1px solid #D8DFEA;}
.narrowcolumn .box_subheader .subheader {display:block;float:left;}
.narrowcolumn .box_subheader .seeall {display:block;float:right;}
.narrowcolumn .box_content {padding:8px 0 15px 8px;border-right:1px solid #D8DFEA;overflow:hidden;}
.narrowcolumn .box_content li {line-height:18px;}
.narrowcolumn .actions {padding-left:10px;}

.narrowcolumn #user_friends .box_content .person {float:left;padding:3px 13px 3px 0;}
.narrowcolumn #user_friends .box_content .person .UIRoundedImage {margin-bottom:3px;}
.narrowcolumn #user_friends .box_content .person .user_name {width:50px;display:block;overflow:hidden;text-align:center;padding:5px 0;}

.feed {padding:5px 0;}
.feed_icon {display:block;float:left;width:16px;height:18px;}
.spritemap_icons {background-image:url([theme_url]/Images/Icons/icons.png);background-repeat:no-repeat;width:16px;height:16px;}
.sx_friend {background-position:0 -753px;}
.sx_group {background-position:0 -882px;height:14px !important}
.sx_photo {background-position:0 -1272px;}
.sx_comment {background-position:0 -1868px;}
.sx_wall {background-position:0 -1868px;}
.sx_translations {background-position:0 -1803px;}
.feed_story {width:465px;padding-left:5px;float:left;}
.stroy_header {height:18px;padding-bottom:7px;}
.story_time {margin-left:5px;color:gray;font-size:11px;}
.story_body {padding:10px 0;}
.photo_border {float:left;width:108px;margin:0 0 5px;margin-right:10px;}
.story_body a img {border:1px solid #CCC;padding:3px;}
.story_body a:hover img {border-color:#3B5998;}
.story_quote {float:left;width:310px;background:transparent url([theme_url]/Images/start_quote.gif) no-repeat scroll left top;margin:3px 5px 8px 0;padding-left:23px;}
.story_quote .em {background:transparent url([theme_url]/Images/end_quote.gif) no-repeat scroll right bottom;color:#666;padding:2px 23px 2px 0;text-align:left;}

#wall {width:540px;}
#wall #inputarea {width:540px;text-align:right;border-bottom:1px solid #CCC;background-color:#F7F7F7;}
#wall #inputarea textarea {width:514px;height:50px;margin:8px;padding:3px;border:1px solid #BDC7D8;overflow:auto;font-size:12px;}
#wall #inputarea input {margin-right:8px;margin-bottom:18px;background-color:#3B5998;border-color:#D9DFEA #0E1F5B #0E1F5B #D9DFEA;border-style:solid;border-width:1px;color:#FFFFFF;padding:2px 15px 3px;text-align:center;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:10px;}
.zh #wall #inputarea input {font-size:12px;}
#wall #posts {padding:15px 8px 0;}
#wall #posts .post_item {margin-bottom:15px;}
#wall #posts .picture {float:left;width:50px;margin:0 0 15px;}
#wall #posts .item {float:left;width:460px;margin-left:10px;border-top:1px solid #3B5998;border-bottom:1px solid #D8DFEA;}
#wall #posts .item .user {padding:3px 5px;border-bottom:1px solid #D8DFEA;background-color:#F7F7F7;}
#wall #posts .item .user a {font-weight:bold;}
#wall #posts .item .DateAndTime {font-size:10px;color:#aaa;font-weight:normal;padding:3px 0;}
.zh #wall #posts .item .DateAndTime {font-size:11px;}
#wall #posts .item .content {padding:5px;width:450px;overflow:hidden;}
#wall #posts .item .wallactions {padding:3px 5px;}
#wall #posts .item .wallactions a {cursor:pointer;font-size:10px;}
.zh #wall #posts .item .wallactions a {font-size:12px;}
#wall .moreaction {width:540px;text-align:right;margin-bottom:15px;}

.find_friend {background:transparent url([theme_url]/Images/Icons/magnifying_glass.gif) no-repeat scroll left 3px;padding:4px 4px 4px 23px;}

/* temp */
.widecolumn h2 {display:inline;font-size:16px;font-weight:bold;padding:0;}
.widecolumn .tab_menu {font-size:12px;font-weight:bold;width:50px;text-align:center;padding:3px;;margin-top:10px;display:block;border:1px solid #D8DFEA;border-bottom:1px solid #fff;background-color:#FFF;}
.widecolumn .subtitle {dispaly:block;float:left;}
.widecolumn .actionlink {dispaly:block;float:right;}
.widecolumn .mobile_status {color:#555555;display:inline;font-size:13px;font-weight:normal;margin-left:5px;}
.widecolumn .info_header {margin-top:-22px;_margin-top:-10px;margin-bottom:10px;background-color:#FFF;display:block;width:55px;}
.widecolumn .basic_info,.contact_info {padding:15px 0;border-top:1px solid #D8DFEA;margin:20px 10px 0 10px;width:520px;}
.widecolumn dt {display:block;float:left;color:#999;width:100px;padding:5px 0;line-height:16px;}
.widecolumn dd {display:block;float:left;color:#000;width:320px;padding:5px 0;line-height:16px;}

.widecolumn .box_header {border-top:1px solid #94A3C4;background-color:#ECEFF5;color:#333;padding:5px 8px;font-weight:bold;}
.widecolumn .box_subheader {border-bottom:1px solid #ECEFF5;padding:5px 8px;}
.widecolumn .box_content {padding:10px 5px;}

#content .dialog_summary {font-size:16px;padding:12px 0;margin-bottom:20px;font-weight:bold;}
#content .dialog_body .image {float:left;margin-right:10px;}
#content .dialog_body .text {float:left;width:312px;}
#content .dialog_body dl {width:247px;float:left;}
#content .dialog_body dl dt {display:block;float:left;color:#999;width:60px;line-height:16px;}
#content .dialog_body dl dd {display:block;float:left;color:#000;width:165px;line-height:16px;}
#content .dialog_body ul {float:right;width:150px;}
#content .dialog_body ul li .inactive {color:#BBB;height:13px;padding:3px 5px;display:block;border-bottom:1px solid #D8DFEA;}
#content .dialog_body ul li a {height:13px;padding:3px 5px;display:block;text-decoration:none;border-bottom:1px solid #D8DFEA;}
#content .dialog_body ul li a:hover {background-color:#3B5998;color:#FFF;}

/*people*/
.widecolumn .profile_name_and_status {}
.widecolumn .user_friends {margin-top:14px;}
.widecolumn .user_friends p {color:#777;margin-bottom:7px;}
.widecolumn .user_friends .person_list {}
.widecolumn .user_friends .person_list .person {float:left;padding:3px 17px 3px 0;}
.widecolumn .user_friends .person_list .person .UIRoundedImage {margin-bottom:3px;}
.widecolumn .user_friends .person_list .person .user_name {width:50px;display:block;overflow:hidden;text-align:center;padding:5px 0;}
