.top_wash {width:100%;height:135px;position:absolute;background-color:#EDEFF4;border-bottom:1px solid #D8DFEA;margin-top:-90px;z-index:-1;}
ie6 .top_wash,ie7 .top_wash {*height:166px;*left:0;*top:0;}

.widecolumn {width:760px;float:left;}
.adcolumn {width:160px;float:left;padding:56px 0 0 20px;}

.wall_header .UIRoundedImage {width:50;float:left;}
.wall_header .walltitle {float:left;width:480px;margin-top:5px;padding-left:10px;}
.wall_header .walllink {float:left;width:480px;margin-top:12px;padding-left:10px;}

#wall {width:540px;padding-top:15px;}
#wall #inputarea {width:540px;text-align:right;}
#wall #inputarea textarea {width:532px;height:50px;margin:8px 0;padding:3px;border:1px solid #BDC7D8;overflow:auto;font-size:11px;}
#wall #inputarea input {margin-bottom:18px;background-color:#3B5998;border-color:#D9DFEA #0E1F5B #0E1F5B #D9DFEA;border-style:solid;border-width:1px;color:#FFFFFF;padding:2px 15px 3px 15px;text-align:center;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:10px;}
.zh #wall #inputarea input {font-size:12px;}
#wall #posts .post_item {margin-bottom:15px;}
#wall #posts .picture {float:left;width:50px;margin:0 0 15px;}
#wall #posts .item {float:left;width:480px;margin-left:10px;border-top:1px solid #3B5998;border-bottom:1px solid #D8DFEA;}
#wall #posts .item .user {padding:3px 5px;border-bottom:1px solid #D8DFEA;background-color:#F7F7F7;}
#wall #posts .item .user a {font-weight:bold;}
#wall #posts .item .DateAndTime {font-size:10px;color:#aaa;font-weight:normal;padding:3px 0;}
.zh #wall #posts .item .DateAndTime {font-size:11px;}
#wall #posts .item .content {padding:5px;width:470px;overflow:hidden;}
#wall #posts .item .wallactions {padding:3px 5px;}
#wall #posts .item .wallactions a {cursor:pointer;font-size:10px;}
.zh #wall #posts .item .wallactions a {font-size:12px;}

.footer_bar {border-top:1px solid #CCCCCC;padding:0 20px;background:white none repeat scroll 0 0;clear:both;}
.footer_bar .pagerpro_container {float:right;margin:0 0;padding:3px 0 4px;}
.footer_bar .pagerpro {float:right;list-style-image:none;list-style-position:outside;list-style-type:none;margin:0;padding:0;}
.footer_bar .pagerpro li {display:inline;}
.footer_bar .pagerpro a {padding:3px 3px 2px;text-transform:none;}
.footer_bar .pagerpro a:hover {background-color:#3B5998;border-bottom:1px solid #3B5998;border-color:#D8DFEA #D8DFEA #3B5998;color:#FFFFFF;text-decoration:none;}
.footer_bar .pagerpro a {border-top:2px solid white;padding-bottom:0;padding-top:1px;}
.footer_bar .pagerpro a:hover {border-bottom:2px solid #3B5998;border-top:2px solid #3B5998;}
.footer_bar .pagerpro .current a {border-bottom:2px solid #3B5998;border-color:#3B5998;color:#3B5998;font-weight:bold;padding-left:2px;padding-right:2px;}
.footer_bar .pagerpro .current a:hover {background-color:#3B5998;color:#FFFFFF;}
.footer_bar .pagerpro .current a {border-bottom-color:white;border-top:2px solid #3B5998;}
.footer_bar .pagerpro .current a:hover {border-bottom:2px solid #3B5998;border-top:2px solid #3B5998;}
